//================ Blue ================
$clr-blue-100: #d3dffc;
$clr-blue-200: #acaec1;
$clr-blue-300: #5a5e84;
$clr-blue-400: #424c65;
$clr-blue-500: #1d2256;
$clr-blue-700: #131637;
$clr-blue-900: #080a18;

$clr-blue: $clr-blue-500;
