.app {
  &-wrapper {
    display: flex;
    justify-content: flex-start;
    margin: auto;
    max-width: 1200px;
    position: relative;
    width: 100%;

    @media (max-width: 800px) {
      flex-direction: column;
    }
  }
}